!!! 5
html
  head
    title Dynamics Visualization
    link(rel="stylesheet", type="text/css", href="css/reset-fonts.css", media="all")
    link(rel="stylesheet", type="text/css", href="css/prettify.css", media="all")
    link(rel="stylesheet", type="text/css", href="css/screen.css", media="screen,projection")
    link(rel="stylesheet", type="text/css", href="css/print.css", media="print")
    
    script(type="text/javascript", src="js/jquery-latest.min.js")
    script(type="text/javascript", src="js/sammy/sammy-latest.min.js")
    script(type="text/javascript", src="js/sammy/plugins/sammy.json-latest.min.js")
    script(type="text/javascript", src="js/sammy/plugins/sammy.storage-latest.min.js")
    script(type="text/javascript", src="js/haml/jquery.haml-1.3.js")
    script(type="text/javascript", src="js/socket.io/socket.io.js")
    script(type="text/javascript", src="js/sha1.js")
    script(type="text/javascript", src="js/app.js")
  body
    #container
      #header
        h1 Dynamics Visualization
      #container2
        #main.wide
          .actions
            a.button.add-game-link(href="#/add-game") Add Game
          #games
          .actions
            a.button.add-game-link(href="#/add-game") Add Game
        #footer
          | Copyright &copy; 2010 Gregory McWhirter, released under the&#32;
          a(href="http://www.opensource.org/licenses/mit-license.php") MIT License
          | . Code is available at the&#32;
          a(href="https://www.github.com/gsmcwhirter/dynamics-visualization") GitHub repository
          | .
      #subfooter

