extends layout

block append styles
  link(rel="stylesheet", href=prefix + "/css/app.css")
  
block append scripts-load
  script(src=prefix + "/js/jade-runtime.js", type="text/javascript")
  script(src=prefix + "/js/app.js", type="text/javascript")

block prepend scripts-do
  script(type="text/javascript").
    var prefix = window.prefix = "#{prefix}";
  
