[submodule "client/js/socket.io"]
	path = client/js/socket.io
	url = git://github.com/LearnBoost/Socket.IO.git
[submodule "blueprint"]
	path = blueprint
	url = git://github.com/joshuaclayton/blueprint-css.git
[submodule "client/js/haml"]
	path = client/js/haml
	url = git://github.com/creationix/jquery-haml.git
