.cblock
  h2 System Help
  dl
    dt
      a(href="/help/requirements") System Requirements
    dd
      | This page will detail what browsers and plugins are known to be 
      | necessary, compatible, or incompatible with this system. 
    dt
      a(href="/help/walkthrough") Walkthrough Demonstration
    dd
      | This walkthrough will show you how to use the system and what to expect
      | expect as output given various options.
    dt
      | Contact the Author
    dd
      | You are welcome to contact the author at any time:
      a(href="mailto: greg@ideafreemonoid.org") Gregory McWhirter
