.cblock
  h2 System Requirements
  p
    | This website has been tested and verified to work under the following
    | operating systems, web browsers, and Java versions. Other versions may
    | work, but are not guaranteed to do so. Additionally, javascript must be
    | enabled in your browser for this site to function correctly.
  noscript
    p
      | If you are seeing this line, javascript is NOT enabled. Please
      | enable it if you would like to use this site.
  p
    | Most problems users experience are caused by out of date versions of Java.
  h3 Operating Systems
  ul
    li Microsoft Windows XP and later
    li Apple OS X 10.5.8 and later
    li Ubuntu Linux 10.04 and later
  h3 Web Browsers
  ul
    li
      a(href="http://www.mozilla.com/en-US/firefox/") Mozilla Firefox 3.5 and later
    li
      a(href="http://www.apple.com/safari/") Apple Safari 5 and later
    li
      a(href="http://www.google.com/chrome/") Google Chrome 9 and later
    li
      a(href="http://www.opera.com/browser/") Opera 11 and later
    li
      a(href="http://www.microsoft.com/windows/internet-explorer/default.aspx") Microsoft Internet Explorer 8 and later
  h3 Java Versions
  ul
    li
      a(href="http://www.java.com/en/download/") Java Version 6 (sometimes listed as 1.6.x) and later
