.cblock
  h2 System Requirements
  p
    | This website should work under the following web browsers. Other 
    | versions may work, but are not guaranteed to do so. Additionally, 
    | javascript must be enabled in your browser for this site to 
    | function correctly.
  noscript
    p
      | If you are seeing this line, javascript is NOT enabled. Please
      | enable it if you would like to use this site.
  p
    | This compatibility list was derived from&#32;
    a(href="http://caniuse.com/#feat=canvas") http://caniuse.com/#feat=canvas
    | . Please consult that site if you are interested in mobile browser
    | support and other concerns. 
  h3 Web Browsers
  ul
    li
      a(href="http://www.mozilla.com/en-US/firefox/") Mozilla Firefox 18.0 and later
    li
      a(href="http://www.apple.com/safari/") Apple Safari 5.1 and later
    li
      a(href="http://www.google.com/chrome/") Google Chrome 24.0 and later
    li
      a(href="http://www.opera.com/browser/") Opera 12.1 and later
    li
      a(href="http://www.microsoft.com/windows/internet-explorer/default.aspx") Microsoft Internet Explorer 9 and later
