!!! 5
html
  head
    title Dynamics Visualization
    link(rel="stylesheet", type="text/css", href="/css/site.css")
    
    script(type="text/javascript", src="/js/jquery-latest.min.js")
    script(type="text/javascript", src="/js/sammy/sammy-latest.min.js")
    script(type="text/javascript", src="/js/socket.io/socket.io.js")
    script(type="text/javascript", src="/js/app.js")
  body
    hello!
